/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.rightNav__link {
  margin: 0.5em;
}

a:visited {
  text-decoration: none;
  color: orange;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.15rem;
}

.robots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.robotCard {
  padding: 0.5em;
  flex: 0 1 50%;
  border: solid #5b6dcd 1px;
  display: flex;
  justify-content: space-between;
}

.robotCard__img {
  flex: 0 1 30%;
}
.robotCard__text {
  flex: 0 1 65%;
}

.robotCard__text h1 {
  margin-top: 0;
  margin-bottom: 0.25em;
}
