/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.rightNav__link {
  margin: 0.5em;
}

a:visited {
  text-decoration: none;
  color: orange;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.15rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.25em;
}

img {
  object-fit: cover;
  width: 25%;
  
}



.robots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.robotCard {
  flex: 0 1 45%;
  border: solid #5b6dcd 3px;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}

.robotCard__img {
  flex: 0 1 30%;
}
.robotCard__text {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.projectCard {
  display: flex;
  flex: 0 1 45%;
  border: solid #5b6dcd 3px;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
}

.noBorder {
  border: 0;
}

.maxwidth {
  max-width: 45%;
}