* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#c0c0c0);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

@mixin flex($direction, $justify, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-align($align) {
  align-items: $align;
}

a:visited {
  text-decoration: none;
  color: orange;
}

.nav {
  @include flex(row, space-between, center);

  &--navbar {
    height: 1.5rem;
    padding: 1.2em;
    margin-bottom: 0.5em;
    background-color: #333333;
  }

  &--form {
    margin-bottom: 0.25em;
  }

  &__item {
    margin: 0.5em;
    &--btn {
      background-color: #4caf50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  }
}

.modelContainer {
  @include flex(row, space-around);
  flex-wrap: wrap;
  gap: 10px;
  &__card {
    @include flex(row, space-between, center);
    flex: 0 1 45%;
    border: solid #5b6dcd 3px;
    padding: 1em;
  }
  &__img {
    width: 45%;
    object-fit: cover;
  }
  &__robotText {
    @include flex(column, space-evenly);
    font-size: 1.1rem;
  }
}

// main {
//   align-items: center;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin: 1.15rem;
// }

// h1 {
//   margin-top: 0;
//   margin-bottom: 0.25em;
// }

// .flex-row {
//   display: flex;
//   flex-direction: row;
// }

// .flex-column {
//   display: flex;
//   flex-direction: column;
// }

// .flex-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   flex-wrap: wrap;
//   gap: 10px;
// }

// .centerFlex {
//   justify-content: center;
// }

// .space-around {
//   justify-content: space-around;
// }

// .space-between {
//   justify-content: space-between;
// }

// .robotCard__img {
//   flex: 0 1 30%;
// }

// .projectCard {
//   display: flex;
//   flex-direction: column;
//   border: solid #5b6dcd 3px;
//   padding: 1.25rem;
// }

// .projectCard--description {
//   display: flex;
//   justify-content: space-between;
//   border: solid #5b6dcd 3px;
//   padding: 1.25rem;
// }

// .bigCard {
//   margin: 1rem 5rem 2rem 5rem;
// }

// .smallerDiv {
//   flex: 0 1 45%;
// }
